/NetGameTermPrj/s/.vs
/NetGameTermPrj/s/Debug
/NetGameTermPrj/s/x64
/NetGameTermPrj/s/Server/Debug
/NetGameTermPrj/s/Server/x64
*.exe
*.ilk
*.pdb
*.obj
*.log
*.pch
*.ipch
*.idb
*.tlog
*.lastbuildstate
*.suo
*.opendb
*.db
*.db-shm
*.db-wal
*.iobj
*.ipdb